/*neirong*/
body{/*height: 3000px;*/background: #F8F8F8;}
.cen_top{width: 100%;
background: #4C91DB;}
.cen_mid{
	width: 1210px;
	height: 250px;
	margin:0 auto;
	background:url(http://img.toulianwang.com/images/order/company.png)
	0 0 no-repeat;
}
.cont_center{
	width: 1210px;
	/*height: */
	margin:0 auto;
}
.cont_title{
	width: 1210px;
	height: 31px;
	margin-bottom: 10px;
	padding-top: 4px;
	/*padding: 10px 0;*/
}
.tit{
	 float: left;
    width: 122px;
    height: 34px;
    line-height: 34px;
    text-indent: .5em;
    font-size: 20px;
    color: #fff;
    background: url(../img/title_key02.png) 0 0 no-repeat;
}
.tit_p{float: left;
    color: #5B5E63;
    font-size: 22px;
    padding-top: 4px;
    font-style: italic;}
.show{
width: 1210px;
overflow: hidden;}
#show1,#show2,#show3{
	position: absolute;
	width: 400px;
	top: 0;	
}
.inne{
	height: 150px;
	border: 0;
}
.pjo img{
	width: 132px;
	height: 60px;
}
.bot{line-height: 35px;
    font-weight: normal;
    padding: 4px 0;
    color: #3E3E3E;
    font-size: 16px;
    overflow: hidden;}
.bj{float: right;}
.chao,.chao1{
	width: 400px;
	height: 256px;
	position: relative;
	float: left;
	background:#ccc;
}
.chao{
	margin-right: 5px;
}
.desc{
	background:#FFFFFF;
}
#hd{width: 1210px;
overflow: hidden;}
#hd li{
float: left;
width: 274px;
background:#fff;
}
.hd_it{
	padding: 36px 37px;
	border-bottom: 1px dotted #ccc;
}
.hd_ite h3{
	font-weight: normal;
	font-size: 14px;
}
.hd_ite {
	width: 250px;
	padding:50px 12px; 
}
.hd_ite span{
	color: #C7C7C7;
}
.mar{margin-right: 37px;}
.tip{margin-right: 37px;
margin-top: 28px;}
.dz{margin-top: 28px;}
#hd_ovf li{
	float: left;
}
#hd_ovf {overflow: hidden;
display: none;
margin-bottom: 20px;}
#mor{
	background:#ccc;
	font: 20px '微软雅黑';
	color: #000;
	text-align: center;
	padding: 5px 0;
}