/*头部css*/
.head{width: 100%;
	height: 71px;
	background-color: #305065;
}
.headbar{
	width: 1200px;
	height: 71px;
	margin:0 auto;}
.headbar:after{
	content: '';
	height: 0;
	clear: both;
	display: block;
}
.logo{width: 135px;
float: left;
padding-top: 13px;
padding-bottom: 11px;}
.diqu{
	width: 80px;
	/*height: 35px;*/
	float: left;
	padding-top: 20px;
	padding-bottom: 3px;
	cursor: pointer;
	position: relative;
	/*padding-bottom: */
}
.re{color: #C6676A;
font: 16px '微软雅黑';
margin-left: 12px;}
#di_list{
	width:192px;
	height: 74px;
	padding-left: 18px;
	margin-top: 20px;
}
#di_list:after{content: "";
height: 0;
display: block;
clear: both;}
#di_list li{
	float: left;
	margin-right: 40px;
cursor: pointer;}
#di_list li{
font: 16px "微软雅黑";
color:#fff;}
.item{margin-bottom: 18px;}
#item{color:#6EEAA1; }
#more{
	color: #BC6367;
	font: 16px "微软雅黑";
	float: right;
	margin-right: 25px;
	border-bottom: 1px solid #BC6367;
	margin-top: 15px;
}
#diqu_show{
position: absolute;
top: 71px;left: 0;
width: 212px;
display: none;
/*height: 169px;*/
padding: 10px 0  27px 0;
z-index: 2;
background-color: #456075;}
.pa{
width: 81px;
padding: 4px 0;
background:#2B485D;
/*position: relative;*/
}
#cp{
	font: 15px "微软雅黑";
	color: #fff;
	margin-left: 8px;
}
.xua{
	display: inline-block;
	vertical-align: middle;
     padding-top: 3px;}
.nav{
	width: 844px;
	padding-top: 25px;
	padding-bottom: 24px;
	margin-left: 10px;
	float: left;
}
.nav_item{
	overflow: hidden;
}
.nav li a{
	float: left;
	font: 17px '微软雅黑';
	color: #D5DADD;
}
.nav .nav_item_l a{color:#0EA6DF; }
.ll a {margin-right: 12px;}
.lo{
width: 115px;
height: 61px;
float: right;
padding-top: 10px;
}
#log{
	width: 115px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 8px;
	background-color: #DB6968;
}
#log a{color: #fff;
font: 12px '微软雅黑';}
#log span{color: #fff;}
#login_shou{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	background:#ccc;
	opacity: 0.4;
	display: none;
	z-index: 5;
}
#login_hd{
	width: 600px;
	height: 385px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	left:350px;
	top: 100px;
	display: none;
	z-index: 100;
}
.login_tp{
width: 560px;
padding: 20px 20px 40px;
background-color: #0EA8E3;

}
.login_tp h1{
	color: #fff;
	font: 18px '微软雅黑';
	float: left;
}
.fr{float: right;}
.fl{float: left}
.al{
	color: #fff;
font: 16px '微软雅黑';
border-bottom: 1px solid #fff;
}
#login_k{
	width: 600px;
	height: 325px;
}
.de{
width: 510px;
padding: 13px 10px;
border: 1px solid #ccc;
margin-bottom: 20px;}
#te,#ps{
border: 0;
font: 16px "微软雅黑";
color: #ADADAE;
margin-left: 5px;
}
.bk{
	width: 532px;
	padding: 40px 34px 5px;
	overflow: hidden;
}
.dlt{
display: inline-block;
width: 20px;
}
.dee{
width: 532px;
height: 45px;}
#tte{border: none;}
.dee_l{
	width: 410px;
	border: 1px solid #ccc;
	padding:12px 5px; 
}
#tte{font: 16px '微软雅黑';
color: #ADADAE;}
.ri{
width: 80px;
height: 45px;}
/*//大图部分*/
#ks{
width: 100%;
height: 250px;
position: relative;
background:url(../img/ys.png)0 0 no-repeat;
}
#yid{
position: absolute;
width: 577px;
height: 219px;
background-color: #CEC789;
top: 15px;
left:370px;
opacity: 0.4;
}
.yid_item{
	position: absolute;
	top:28px; 
	left:380px;
	width: 485px;
	/*height: 160px;*/
	padding: 16px 35px;
	border: 1px solid #fff;
	overflow: hidden;
}
.p1{
	font: 50px '微软雅黑';
color: #89FEFF;}
.pp2{
width: 405px;
padding-bottom: 10px;
/*height: 102px;*/
float: right;}
.pp2 span{font: 35px '微软雅黑';color: #fff;}
#spa{
	float: right;
	margin-right: 85px;}
/*内容部分*/
#conte{
width: 1178px;
/*height: 1250px;*/
margin:0 auto;}
.conte_iem{
	/*height: 70px;*/
	padding:19px 0 20px 0;

}
.conte_iem span{font: 18px '微软雅黑';}
.ch{display: inline-block;
width: 29px;
height: 26px;
background:url(../img/yiq.png)0 0 no-repeat;}
.cen_show{
	width: 1146px;
	/*height: 951px;*/
	padding: 19px  16px 20px;
}
.uls{overflow: hidden;}
.uls li{float: left;
padding: 41px 10px;
width: 199px;
height: 138px;
border-radius: 8px;
margin-right: 10px;
margin-bottom: 8px;}
.yz{display: inline-block;
width: 12px;
height: 20px;
position: absolute;
top: 31px;
right: -10px; 
background:url(../img/yzhi.png)0 0 no-repeat;}
.rr{
	background-color: #0EA8E3;
	position: relative;
}
.rr h3{
	margin-bottom: 40px;
	font: 18px '微软雅黑';
	color: #fff;
}
.rr p{font: 14px '微软雅黑';
color: #fff;
width: 195px;}
.rr1 img {
	display: inline-block;
	margin-top: 10px;
}
.uls .rr1{
	background:#FAFAFA;
}
.yz1{
display: inline-block;
width: 12px;
height: 20px;
position: absolute;
bottom: 31px;
left:-10px; 
background:url(../img/yzuo.png)0 0 no-repeat;}
}
.uls .rel{background-color: #DB6968;}
.mor{/*height: 40px;*/
	padding:11px 0 10px 0;
text-align: center;
background-color: #F7F7F7;
position: relative;}
#tan{
	position: absolute;
	bottom: 40px;
	left: 500px;
	width: 260px;
	height: 200px;
	z-index: 100;
	background:#fff;
	display: none;
}
.tan_title{
	padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}
#tru{width: 56px;
	padding: 8px 0 7px 0;
	cursor: pointer;
/*height: 30px;*/
border: 0;
background-color: #2E8DED;
color: #fff;}
.mor a{color: #565656;
/*font: 14px '微软雅黑';*/
cursor: pointer;}
#finis{cursor: pointer;
font: 16px '微软雅黑';
padding: 10px 0 0 0;}
.zh{/*height: 2000px;*/}
/*底部css*/
.footer{
	height: 320px;
	background-color: #1F2932;
	margin-top: 57px;
}
.foot{
	width: 1137px;
	height: 248px;
	margin:0 auto;
	padding:36px 0 36px 41px;
	overflow: hidden;
	position: relative;
}
.foot_item {
width: 296px;
/*height: 236px;*/
float: left;}
.foot_item li a{
	color: #fff;
	font: 16px '微软雅黑';
}
#fy{
	font: 20px '微软雅黑';
	margin-bottom: 47px;
}
#fy a{color: #0992CB;
font: 20px "微软雅黑";}
.llt{margin-bottom: 15px;}
.foot_item2{
	width: 260px;
	/*height: 248px;*/
	float: left;
}
.weixin{display: inline-block;
width: 28px;
height: 22px;
margin-left: 5px;
vertical-align: middle;
background:url(../img/ywi.png)0 0 no-repeat;}
.diy a{color: #03ACEF;
font: 20px '微软雅黑';}
.ddy{margin-top: 47px;
margin-bottom: 44px;}
.dfy{font: 16px '微软雅黑';
color: #F1F1F1;
margin-bottom: 19px;}
.ddf{
	color:#F1F1F1;
	font: 16px '微软雅黑'; }
#box{
	position: absolute;
	bottom: 86px;
	right: 128px;
	width: 374px;
	height: 103px;
	padding: 19px 0 0 76px;
	border-left: 2px solid #565A5E;
}
.box_li{
	font: 12px '微软雅黑';
	color: #F9F9F9;
}
.llp{margin-bottom: 23px;}
.ffg:hover {
	color: #0992CB;
}
#sear
{width: 352px;
height: 152px;
position: fixed;
bottom: 0;
left: 0;
background-color: #fff;}
.sear_tp{
padding: 6px 0;
margin-left: 10px;
background-color: #F5F5F5;}
.sear_tp span{
	font: 14px '微软雅黑';
	color: #666666;
}
.xiala{
	width: 85px;
	padding: 10px 0 9px 6px;
	/*height: 37px;*/
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	margin-left: 15px;
	float: left;
	cursor: pointer;
}
#list{
	width: 90px;
	height: 80px;
	position: absolute;
	top: 36px;
	left: 0;
	border: 1px solid #ccc;
	overflow: scroll;
	display: none;
}
#zo_list li{
	background: 0 0;
    line-height: 21px;
    list-style: none;
    padding-left: 7px;
    cursor: pointer;
    display: block;
}
.yo{
	display: inline-block;
	width: 13px;
	height: 8px;
	background:url(../img/ty.png)0 0 no-repeat;
}
#sousuo{width: 160px;
height: 35px;
float: left;
border: 0;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
#bbs{
	padding: 10px 7px 12px;
	border: 0;
	color: #fff;
	background:#1A89ED;
}
#ovf{
	width: 1178px;
	height: 220px;
	display: none;
}
.ulss li{float: left;
padding: 41px 10px;
width: 199px;
height: 138px;
border-radius: 8px;
margin-right: 10px;
/*margin-bottom: 8px*/;}