body{height: 3000px;}
.dt{
	width: 100%;
	height: 505px;
	background: url(../img/传世投联ybanner.jpg) 0 0 no-repeat;
}
.int{
	width: 100%;
	height: 230px;
	background-color: #f8f8f8;
	margin-top: -5px;
    overflow: hidden;
}
.con{
	width: 1200px;
    height: 175px;
    border: 1px solid #b7d3fa;
    margin: 22px auto;
}
.js{
	width: 240px;
	float: left;
}
.con p{
	font: 13px '微软雅黑';
    margin-top: 15px;
    line-height: 30px;
    width: 1160px;
    margin-left: 25px;
    text-indent: 2em;  
}
.zz{
	width: 100%;
    height: 715px;
    overflow: hidden;
}
.mid{
	width: 1200px;
    margin: 20px auto;
}
.mit{
	width: 733px;
	margin:0 auto;
}
.team{
	width: 100%;
    background-color: #f8f8f8;
    overflow: hidden;
}
.team_r{
	width: 1200px;
	margin:0 auto;
}
.fec{
	 width: 870px;
    height: 980px;
    margin: 20px auto 0;
    position: relative;
}
.fec img{position: absolute;}
.img1{left:25px;
top: 100px;
width: 445px;
    height: 300px;}
.img2{
width: 445px;
 height: 360px;
right: 0;
top: 0;}
.img3{left: 0;
top: 430px;
width: 370px;
    height: 275px;}
.img4{
	right:30px;
	top: 360px;
	    width: 485px;
    height: 380px;
}
.img5{
	width: 340px;
    height: 235px;
	left: 345px;
	bottom: 80px;
}
.nia{
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.nia_n{
	width: 1200px;
	margin:0 auto;
}
.nia_io{
	width: 1025px;
	height: 455px;
	margin:20px auto;
	position: relative;
}
.child1{
	width: 420px;
	height: 250px;
	position: absolute;
}
 .sp{
	font: 18px '微软雅黑';
    font-weight: bold;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 160px;
}
#p1{
	font-size: 20px;
    position: absolute;
    left: 10px;
    top: 25px;
}
#p2{
	position: absolute;
    top: 51px;
    font-size: 14px;
}
#fg{
	position: absolute;
	left: 137px;
}
#ims{
	position: absolute;
	bottom: 40px;
	left: 150px;
}
.child2{
	width: 420px;
    height: 250px;
    position: absolute;
    right: 150px;
    top: 0
}
.child3{
	width: 420px;
    height: 250px;
    position: absolute;
    left: 235px;
    bottom: 0;
}
.child4{
	    width: 420px;
    height: 250px;
    position: absolute;
    right: -92px;
    bottom: 0;
}
#ims1{
	position: absolute;
	left: 150px;
	/*top: 30px;*/
}
.sp1{
	font: 18px '微软雅黑';
    font-weight: bold;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 160px;
    bottom: 95px;

}
#p3{
	position: absolute;
	left: 140px;
    bottom: 70px;
    font-size: 20px;
}
#p4{
	position: absolute;
	left: 100px;
    bottom: 10px;
    font-size: 14px;
    text-indent: 16px;
}
.culter{
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
}
.cul{
	width: 1200px;
	margin:20px auto;
}
.cu{
	width: 1165px;
	height: 390px;
	margin:0 auto;
	overflow: hidden;
}
.cu div{
	float: left;
	position: relative;
}
.cu_l{
	margin-right: 33px;
}
.cu_l_desc{
	position: absolute;
	bottom: 36px;
	left: 45px;
}
.rzxz{
	width: 100%;	
}
.rzxz_t{
	width: 1200px;
	margin:0 auto;
}
.sc{
	width: 300px;
    height: 140px;
    margin-left: 70px;
    font-size: 14px;
    line-height: 25px;
    margin-top: 40px;
}
.sc a{
	color: #666;
}
.shu{
	width: 600px;
	height: 138px;
	margin:0 auto;
}
.yuan{
	width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #B3D6EF;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    margin-left: 25px;
}
.shu .a{
	font-size: 16px;
}
.lle{
	float: left;
}
.llr{
	float: right;
}
#yuan:hover{
	background-color: #1F4CCB;
}
#yuan1:hover{
	background-color: #1F4CCB;
}
.houjia{
	width: 1210px;
	margin:50px auto;
}
.houjia_lian{
	width: 330px;
	margin:0 auto;
}
.houjia_lian a{
	color: rgb(147, 147, 147);
    font-size: 13px;
    font-family: 微软雅黑;
    padding: 0 10px; 
}